extends layout 

block buscarC 
     div(class="buscar")
         div(class="formCarta")
            h2 Buscar cartas para tu mazo
            br
            form
                input(type="text" placeholder="Busca una carta..." name="buscar")
                button(class="buscar") Buscar 
            form
                button(class="agregar") Agregar
         h2 Datos de la carta
         div aqui va a ir la informacion de la carta buscada y encontrada