extends layout

block content
    div(class="CardForm")
        h1= "Registro de Cartas"
        form(method='POST')
            label(for="name") Name: 
            input(type='text' name='name')
            label(for="attribute") Attribute: 
            input(type='text' name='attribute')
            label(for="stars") Stars: 
            input(type='text' name='stars')
            label(for="description") Description:
            input(type='text' name='description')
            label(for="type") Type:
            input(type='text' name='type')
            button(type='submit') Guardar