extends layout

block content
    div(class="crear_mazo")
        div(class="mazo")
                br
                p Crea un mazo
                form(method="POST")
                        label Nombre del mazo: 
                        input(type="text" placeholder="Agrega un nombre: " name="ndeck")
                        button(type="submit") Guardar
                div(class="formCarta")
                label(for="selec") Buscar cartas para tu mazo
                br
                form(method="POST")
                        select(type="select" placeholder="¿A qué mazo?" name="onemz")
                                for maz in mz
                                        option(value=maz.name)= maz.name
                        br
                        select(type="select" placeholder="Busca una carta..." name="selec")
                                for card in cd
                                        option(value=card.name)= card.name
                        button(class="agregar" type="submit") Agregar
                div(class="mostrarMazo")
        div(class="search")
                div(class="cartas")
                div(class="botons")
                form(method="POST")
                        button(className="Guardar" name="saved") Guardar
        a(href="/home") Regresar 