extends layout

block CrearMazo
       div(class="mostrarMazo")
                div(class="search")
                    label Nombre del mazo: 
                    input(type="text" placeholder="Agrega un nombre: " name="titulo")
                div(class="cartas")
                 label Cartas agregadas: 
                      ul
                        li Carta 1
                div(class="botons")
                      button(className="BorrarT") Borrar todo
                      button(className="Borrar") Borrar carta
                      button(className="Guardar") Guardar