extends layout

block content
    section(class ="crearForo")
        span(class = "tittle") Crea un foro a tu gusto
        article(class = "body")
            h3 Nombre de tu foro
                form(class="form" method="POST") 
                    input(type="text" placeholder="Nombre creativo..." name="name")
                    br
                    br
                    button(className="submit") Crear 