extends layout

block content
    section(class ="crearForo")
        h3(class = "tittle") Crea un foro a tu gusto
        form(class="form" method="POST") 
         label(for="name") Nombre de tu foro
         input(type="text" placeholder="Nombre creativo..." name="name")
         br
         br
         button(className="submit") Crear 
