extends layout

block forumCreation
div(class ="forum")
    section
        span(class = "tittle") Crea un foro a tu gusto
        article
                h3 Nombre de tu foro
                    form
                        input(type="text" placeholder="Nombre creativo..." name="nombre")
                        br
                        br
                        button(className="submit") Crear