extends layout 

block content 
    div(class="perfil")
        h2 Nombre del usurio 
        span Seguidores: 7
        br
        br
        span Tus mazos
    div(class="aviable")
    div(class="Aone")
        h3 Foros de la comunidad
        input(type="text" placeholder="Filtrar..." name="buscar")
        button(class="submit") Buscar
        div(class="Atwo")
        ul
            li Foro 1
    div(class="buttoms")
        h3 Escoge lo que deseas crear
        button(className="CForo") Crear Foro 
        br
        br
        button(className="CMazo") Crear Mazo