extends layout 

block content 
    br
    br
    section(class="av")
            div(class="Aone")
                h3 Foros de la comunidad
            div(class="in")
            div(class="Atwo")    
                ul
                    for forum in forums
                        a(href="/shforo" class="forum-link")
                            li= forum.name
    div(class="buttoms")
        div(class="refe")
                a(href="/crforum" class="create-foro")
                    span(class="CForo") Crear Foro
                a(href="/crdeck" class="create-mazo")
                    span(class="CMazo") Crear Mazo
                a(href="/crpost" class="create-mazo")
                    span(class="CMazo") Crear Post
                a(href="/bcarta" class="create-mazo") Ver una Carta
