extends layout

block info
    div
        p(class="info") Yu-Gi-Masters nació por la nececidad de la creciente comunidad, de El Salvador, de jugadores del popular juego de cartas, Yu-Gi-Oh!, de compartir entre si, de manera más amigable, sus inquietudes sobre el juego, torneos locales, estrategias, encontrar jugadores  cercanos con quienes interactuar, competir, y aprender. 
            br 
            br
        p(class="info") Ya que la comunidad esta llena de gente muy experimentada, de nivel medio, y novatos, Yu-Gi-Web es el lugar perfecto para que todo tipo de jugador pueda aprender de los más veteranos, foguearse con gente de nivel medio, y conocer jugadores recientes
            br
            br
        p(class="info") Nuevo fundador, Mario Rene Villalobos Mejía, tiene la visión de hacer crecer, y conectar aun mas la comunidad de Yu-Gi-Oh!,  darle las erramientas para que comparta conocimiento, y convertirla en una comnuidad culta, y entendida profundamente en todo lo que implica ser un buen jugador de Yu-Gi. El equipo comprometido con al creacion de esta web, comparte la misma vision de Mario, y tiene la mision de llevar a la comunidad de jugadores de Yu-Gi-Oh de El Salvador, en la mejor comunidad a nivel de juego, y conocimiento del juego en toda la región centroamericana.