doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/static/main.css')
    link(rel="stylesheet" href="../src/index.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  body
    header
      div(class="logoType")
        img(src="https://carlisletheacarlisletheatre.org/images/yugioh-logo-transparent-5.png" alt="Logo" class="logo")
      nav(class="menuNav")
        ul
          li
            a(href="/" class="nav-li")
              span Home
          li
            a(href="/home" class="nav-li")
              span Perfil
          li
            a(href="/" class="nav-li")
              span Amigos
    block content
    footer(class="footer")
      ul
        li
          a(href="https://www.instagram.com/?hl=es-la")
            img(src="https://seeklogo.com/images/I/instagram-new-2016-logo-4773FE3F99-seeklogo.com.png" alt="face" class="facebook")
        li(class="info")
          span
            a(href="/info/" class="info-link") Acerca de
        li
          a(href="https://www.facebook.com/")
            img(src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="insta" class="instagram")




