doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/main.css')
  body
    header
          div(className = "logoType")
            img(
              src="https://carlisletheacarlisletheatre.org/images/yugioh-logo-transparent-5.png"
              alt="Logo"
              className="logo")
            
          nav(className = 'menuNav')
            ul
              li
                span Home
              li
                span Perfil
              li
                span Amigos
              li
    block content
    block welcome
    block info
    block postCreation
    block forumCreation
    block mostrarf
    block mostrarp
    block buscarC
    block MostrarMazo
    block mostrarM
    block Home
    block CrearMazo

    footer
        span Info
        span Facebook
        span Insta
          
    
