doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
          div(className = "logoType")
            img(
              src="https://carlisletheacarlisletheatre.org/images/yugioh-logo-transparent-5.png"
              alt="Logo"
              className="logo")
            
          nav(className = 'menuNav')
            ul
              li
                span Home
              li
                span Perfil
              li
                span Amigos
              li
    block content
    block welcome
    block info
    block postCreation

    footer
        span Info
        span Facebook
        span Insta
          
    
