extends layout

block content
    div(class="LoginForm")
        form(method="POST")
            label(for="name") Name
            input(type="text" name="name" placeholder="¿Duelista?")
            label(for="pass")
            input(type="password" name="pass" placeholder="******")
            button(type="submit") ¡Ingresar!
        a(href="/" class="nav-li")
            span ¿Registrarse?
        
