extends layout

block content
    div(class="LoginForm")
        form(method="POST")
            label(for="name") Usuario:
            input(type="text" name="name" placeholder="¿Duelista?")
            br
            br
            label(for="pass") Contraseña:
            input(type="text" name="pass" placeholder="******")
            br
            br
            button(type="submit") Ingresar
            br
        a(href="/" class="nav-li") ¿Registrarse?
        
