extends layout

block content
    div(class = "body")
                 br
                 div(class = "span")
                    span(class = "frase") Crea un post para interactuar con la comunidad
                 div(class = "article")
                     form(method="POST")
                        label(for="tittle") Título:
                        input(class = "boxTitle" name="tittle" type = "text" placeholder = "Un título creativo...")
                        br 
                        br
                        label(for="content") Contenido:
                        textarea(class = "BigText" type="text" name="content" placeholder="Discusion")
                        button(type="submit") Publicar