extends layout


block content
  div(class="post")  
    div(class="post-info")
                h1(class="post-title") Titulo del post 
                hr
                br
                p Aqui se muestra la descripcion de la publicacion 
                br
                span(class="likes") Like 3
                br      
    div(class="comments")   
            h2(class="comment-title") Comentarios
                ul
                    li Aqui van los comentario xdxd   
            p Agrega un comentario
            hr
            br
            form(class="add-comment")
                    textarea(class="comment-text" type="text" placeholder="Agrega texto.." name="nombre")
                    br
                    br
                    button(class="submit") Agregar 