extends layout 

block mostrarf

    seccion(class="foro")
        h1  Aqui va el nombre del foro
            br
            span(class="seguirForo") Seguir Foro 
            h2(class="title") Publicaciones
            ul 
                li aqui van la publicaciones 
            h3(class="title") Seguidores
            ul 
                li aqui van los seguidores del foro
            button(className="publicar") Publicacion Nueva