extends layout 

block mostrar

    div(class="selection")
        h1  Aqui va el nombre del foro
            br
            span Seguir Foro 
            h2 Publicaciones
            ul 
                li aqui van la publicaciones 
            h3 Seguidores
            ul 
                li aqui van los seguidores del foro
            button(className="publicar") Publicacion Nueva