extends layout 

block content

    div(class="selection")
            h2 Publicaciones
            ul 
                for post in posts
                    p= "Título del Post: " + post.tittle + " || Contenido del Post: " + post.content
            br
            a(href="/home") Regresar