/*@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

.logo {
    height: 70px;
}

.info-link {
    color: green;
}

body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e27d991c-f967-4884-b0c4-1ef41a5dc5d7/d6guduy-a9f4a7af-3dc3-4ac4-955a-96117f27e200.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UyN2Q5OTFjLWY5NjctNDg4NC1iMGM0LTFlZjQxYTVkYzVkN1wvZDZndWR1eS1hOWY0YTdhZi0zZGMzLTRhYzQtOTU1YS05NjExN2YyN2UyMDAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kCdbyS33z1y4DkvUm5cvWfF334IYxYQM-zNNseSes_c");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menuNav ul li:hover{
  color: #FFD700
}

.nav-li {
    text-decoration: none;
    color: #00f7ff;
}

.nav-li:hover{
    color: #FFD700; 
}

.header ul {
  list-style: none;
}
.menuNav ul li {
  text-decoration: none;
  list-style: none;
  font-size: 12px;
}

header {
  display: flex;
  color: antiquewhite;
  background: black;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  height: 175px;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.logoType {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form {
  align-items: center;
  margin: 1em;
}

h3 {
text-align: center;
color: 	#F0FFFF;
font-family: "Alata", sans-serif;
text-align: center;
}

.BigText {
  height: 70px;
}

.submitBtn button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border-radius: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.title input{
  height: 2em;
  width: 100%;
}


.menuNav ul li {
  padding: 0.5vh 1vh;
  text-decoration: none;
  font-size: 12px;
}

.menuNav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em 1em 0.5em 1em;
  padding: 0;
}

.span {
  box-sizing: border-box;
  padding: 0px 20px;
  text-align: center;
}
.article div{
  margin: 0;
  padding: 0;
  
}

.article {
  display: flex;
  justify-content: center;
  margin:0;
  padding: 0;
}
.BigText{
  width: 100%;
}

.frase {
  font-family: "Alata", sans-serif;
  box-sizing: border-box;
  color: 	#F0FFFF;
}

.BigText {
 border-radius: 5px;
 border: solid black;
 border-width: 1.5px;
}

.boxTitle {
  border-radius: 5px;
  border: solid black;
  border-width: 1.5px;

}

.footer {
  background: #3a227f;
  color: antiquewhite;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  height: 75px;
  width: 100%;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: start;;
}

.footer ul li {
  padding: 1em 2em;
  list-style: none;
  font-size: 13px;
}

.facebook {
  height: 30px;
  width: 30px;
}

.info {
  margin-top: 10px;
}

.instagram {
  height: 30px;
  width: 30px;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.forum-link{
  color: #bd8a00;
}

.create-span{
  color: #f7ae79
}

/* Pesonalizando estilo para escritorio*/
/*@media only screen and (min-width: 1440px) {

  form{
    width: 50%;
    height: 75%;
  }
  .title input {
    height: 2.5em;
    width: 100%;
  
}

.BigText textarea{
  height: 5em;
  width: 100%;
}
.submitBtn button{
font-size: 20px;
}
}*/

/*------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/*
General
*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e27d991c-f967-4884-b0c4-1ef41a5dc5d7/d6guduy-a9f4a7af-3dc3-4ac4-955a-96117f27e200.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UyN2Q5OTFjLWY5NjctNDg4NC1iMGM0LTFlZjQxYTVkYzVkN1wvZDZndWR1eS1hOWY0YTdhZi0zZGMzLTRhYzQtOTU1YS05NjExN2YyN2UyMDAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kCdbyS33z1y4DkvUm5cvWfF334IYxYQM-zNNseSes_c");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-bottom: 50px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header nav ul li:hover {
  color: #ffd700;
}

header {
  display: flex;
  color: antiquewhite;
  background: black;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.logoType {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  height: 70px;
}


nav ul li {
  padding: 0.5vh 5vh;
  list-style: none;
  text-decoration: none;
  font-size: 2vh;
}

nav ul li a {
  text-decoration: none;
  color: #f0f8ff;
}

.footer ul li span a {
  text-decoration: none;
  font-size: 2.3vh;
  color: #f0f8ff;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em 1em 0.5em 1em;
  padding: 0;
}


.footer {
  background: #000000;
  color: antiquewhite;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  height: 70px;
  width: 100%;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer ul li {
  
  justify-content: center;
  margin: 1em 2em 0em 2em;
  list-style: none;
}

.facebook {
  height: 30px;
  width: 30px;
}

.info {
  margin-top: 10px;
}

.instagram {
  height: 30px;
  width: 30px;
}

/*
Login
*/

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
 
}

.LoginForm form {
  display: flex;
  flex-direction: column;
}
.Login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.LoginForm form input {
  height: 4vh;
  width: 45vh;
  margin: 1.5em;
}

.LoginForm form label {
  align-self: center;
  font-size: 3.5vh;
  margin: 0.5em;
}
.LoginForm form button {
  height: 4vh;
  width: 12vh;
  font-size: 2.5vh;
  align-self: center;
  margin: 0.5em;

}

.nav-li {
  font-size: 2.5vh;
  margin: 0.5em;
  color: #f0f8ff;
  text-decoration: none;
}

.LoginForm .Btn {
  margin: 0em 2em 2em 2em;
}

/*
Informacion
*/

.info {
  box-sizing: border-box;
  color: #ffffff;
  margin: 2em;
  text-align: justify;
}

.info p {
  padding: 1em;
}
/*
Foro
*/
.crearForo {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.crearForo form {
  display: flex;
  flex-direction: column;
  margin: 4em;
}

.crearForo form label {
  font-size: 3.5vh;
}

.crearForo form input {
  height: 4vh;
  width: 45vh;
  margin: 1.5em;
}

.crearForo form button {
  height: 4vh;
  width: 12vh;
  font-size: 2.5vh;
}

.crearForo h3 {
  font-size: 4vh;
}


/*
Foro_seleccionado
*/

.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  margin: 4em;
}
.selection h1 {
  font-size: 3.5vh;
  margin: 0.5em;
}
.selection h2 {
  font-size: 3vh;
  margin: 0.5em;
}

.selection h3 {
  font-size: 3vh;
  margin: 0.5em;
}

.selection span {
  font-size: 2vh;
  margin: 0.5em;
}
.selection li {
  margin: 0.25em;
  font-size: 3vh;
  list-style: none;

}
.selection button {
  height: 6vh;
  width: 18vh;
  font-size: 2.5vh;
  align-self: center;
  margin: 1em;
}
/*
Información_personal
*/

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  margin: 0.5em;
}

.me h3{
  font-size: 3vh;
  text-align: center;
  margin: 0.5em;
}
.me span{
  text-align: center;
  font-size: 3vh;
  margin: 2px;
}

/*Foros disponibes*/
.aviable {
  display: flex;
  flex-direction: column;

}
.aviable h3 {
  font-size: 3vh;
}



.Atwo {
  text-align: center;
}

.in {
  display: flex;
  flex-direction: column;
}

.in input {
  align-self: center;
  height: 4vh;
  width: 45vh;
  margin: 0.5em;
}

.in button {
  height: 4vh;
  width: 12vh;
  font-size: 2.5vh;
  align-self: center;
  margin: 0.5em;
}

.Atwo ul li {
  list-style: none;
  padding: 0.1em;
  font-size: 2.5vh;
}

.Aone {
  align-self: center;
  padding: 0.1em
}

/*botones de creacion*/
.buttoms .refe {
  display: flex;
  flex-direction: column;
  margin: 1em;
 
}

.buttoms a {
  text-align: center;
  padding: 0.5em;
  font-size: 2vh;
  text-decoration: none;
  color: #f0f8ff;
}

/*register*/
.register-form {
  display: flex;
  flex-direction: column;
}

.register-form p {
  text-align: center;
  margin: 1em 1em 2em 1em;
  font-size: 3vh;
}

.register-form form {
  display: flex;
  flex-direction: column;
  margin: 0em 1em 0em 1em;
  text-align: center;
  font-size: 3vh;
}

.rf button {
  font-size: 2vh;
}

.register-form form button {
  margin: 1em 1em 2em 1em;
  height: 2.5em;
  width: 7em;
  align-self: center;
}

.register-form a {
  margin: 0em 1em 1em 1em;
  text-align: center;
  font-size: 3vh;
}

.register-form form input {
  height: 3.5vh;
  width: 38vh;
  align-self: center;
  margin-bottom: 1.5em ;
}

/*crear post*/

.body {
  display: flex;
  flex-direction: column;
}

.body .frase {
  font-size: 3.5vh;
  color: #f0f8ff;
}

.body .span {
  text-align: center;
  margin: 1.5em;
}

.body form {
  display: flex;
  flex-direction: column;
}

.body form label {
  text-align: center;
  font-size: 3vh;
}

.body form input {
  height: 4vh;
  width: 45vh;
  margin: 1.5em;
  align-self: center;
}

.body form textarea {
  width: 45vh;
  height: 16vh;
  align-self: center;
  margin: 1.5em;
}

.body form button {
  height: 4vh;
  width: 12vh;
  font-size: 2.5vh;
  align-self: center;
  margin: 0.5em;
}



