/*@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

.logo {
    height: 70px;
}

.info-link {
    color: green;
}

body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e27d991c-f967-4884-b0c4-1ef41a5dc5d7/d6guduy-a9f4a7af-3dc3-4ac4-955a-96117f27e200.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2UyN2Q5OTFjLWY5NjctNDg4NC1iMGM0LTFlZjQxYTVkYzVkN1wvZDZndWR1eS1hOWY0YTdhZi0zZGMzLTRhYzQtOTU1YS05NjExN2YyN2UyMDAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kCdbyS33z1y4DkvUm5cvWfF334IYxYQM-zNNseSes_c");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menuNav ul li:hover{
  color: #FFD700
}

.nav-li {
    text-decoration: none;
    color: #00f7ff;
}

.nav-li:hover{
    color: #FFD700; 
}

.header ul {
  list-style: none;
}
.menuNav ul li {
  text-decoration: none;
  list-style: none;
  font-size: 12px;
}

header {
  display: flex;
  color: antiquewhite;
  background: black;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  height: 175px;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.logoType {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form {
  align-items: center;
  margin: 1em;
}

h3 {
text-align: center;
color: 	#F0FFFF;
font-family: "Alata", sans-serif;
text-align: center;
}

.BigText {
  height: 70px;
}

.submitBtn button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border-radius: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.title input{
  height: 2em;
  width: 100%;
}


.menuNav ul li {
  padding: 0.5vh 1vh;
  text-decoration: none;
  font-size: 12px;
}

.menuNav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em 1em 0.5em 1em;
  padding: 0;
}

.span {
  box-sizing: border-box;
  padding: 0px 20px;
  text-align: center;
}
.article div{
  margin: 0;
  padding: 0;
  
}

.article {
  display: flex;
  justify-content: center;
  margin:0;
  padding: 0;
}
.BigText{
  width: 100%;
}

.frase {
  font-family: "Alata", sans-serif;
  box-sizing: border-box;
  color: 	#F0FFFF;
}

.BigText {
 border-radius: 5px;
 border: solid black;
 border-width: 1.5px;
}

.boxTitle {
  border-radius: 5px;
  border: solid black;
  border-width: 1.5px;

}

.footer {
  background: #3a227f;
  color: antiquewhite;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  height: 75px;
  width: 100%;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: start;;
}

.footer ul li {
  padding: 1em 2em;
  list-style: none;
  font-size: 13px;
}

.facebook {
  height: 30px;
  width: 30px;
}

.info {
  margin-top: 10px;
}

.instagram {
  height: 30px;
  width: 30px;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.forum-link{
  color: #bd8a00;
}

.create-span{
  color: #f7ae79
}

/* Pesonalizando estilo para escritorio*/
/*@media only screen and (min-width: 1440px) {

  form{
    width: 50%;
    height: 75%;
  }
  .title input {
    height: 2.5em;
    width: 100%;
  
}

.BigText textarea{
  height: 5em;
  width: 100%;
}
.submitBtn button{
font-size: 20px;
}
}*/

/*------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/*
General and CreatePost
*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url("https://image.winudf.com/v2/image/Y29tLnpkYW11c2VtZW50LmxpdmV3YWxsYXBlci5kZWVwc3BhY2Vfc2NyZWVuc2hvdHNfNl85N2MxNWM3OQ/screen-6.jpg?fakeurl=1&type=.jpg");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-bottom: 50px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav ul li:hover {
  color: #ffd700;
}

header {
  display: flex;
  color: antiquewhite;
  background: black;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.logoType {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  height: 70px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  width: 60%;
  height: 75%;
}

h3 {
  margin: 0.5em;
  text-align: center;
  color: #f0ffff;
  font-family: "Alata", sans-serif;
  text-align: center;
}

.BigText {
  height: 20vh;
}

.submitBtn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3vh;
}

.title input {
  height: 2.5em;
  width: 100%;
}

nav ul li {
  padding: 0.5vh 5vh;
  list-style: none;
  text-decoration: none;
  font-size: 2vh;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em 1em 0.5em 1em;
  padding: 0;
}

.span {
  box-sizing: border-box;
  padding: 1em;
  font-size: 3vh;
  text-align: center;
}
.article div {
  margin: 0;
  padding: 0;
}

.article {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.BigText {
  width: 100%;
}

.frase {
  font-family: "Alata", sans-serif;
  box-sizing: border-box;
  color: #f0ffff;
}

.BigText {
  border-radius: 5px;
  border: solid black;
  border-width: 1.5px;
}

.boxTitle {
  border-radius: 5px;
  border: solid black;
  border-width: 1.5px;
}

.footer {
  background: #000000;
  color: antiquewhite;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  height: 50px;
  width: 100%;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer ul li {
  display: flex;
  justify-content: center;
  margin: 1em 2em 0em 2em;
  list-style: none;
  font-size: 2.5vh;
}

.facebook {
  height: 30px;
  width: 30px;
}

.info {
  margin-top: 10px;
}

.instagram {
  height: 30px;
  width: 30px;
}

/*
Login
*/

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  height: 75%;
}

.LoginForm form {
  display: flex;
  flex-direction: column;
}
.Login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Login input {
  width: 40vh;
  height: 3.5vh;
}

.LoginForm form label {
  align-self: center;
  font-size: 3vh;
}
.Btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 3vh;
}

.LoginForm .Btn {
  margin: 0em 2em 2em 2em;
}

/*
Informacion
*/

div .info {
  color: #ffffff;
  margin: 2em;
}
/*
Foro
*/
.forum section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10vh;
}

.forum h3 {
  margin: 1em auto 1em auto;
  padding: 0;
  font-size: 30px;
}

.forum form {
  width: 100%;
}

.forum input {
  height: 40px;
  width: 100%;
  margin-top: 1.5em;
}

.forum button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3vh;
}
/*
Foro_seleccionado
*/

.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
.selection h1 {
  font-size: 30px;
  margin: 0.5em;
}
.selection h2 {
  font-size: 25px;
  margin: 0.5em;
}
.selection span {
  margin: 0.5em;
}
.selection li {
  margin: 0.25em;
}
.selection button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3vh;
}
/*
Información_personal
*/

div .info_personal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  margin: 2em;
}

.info_personal h2{
  text-align: center;
  margin: 1em;
}
.info_personal span{
  text-align: center;
}

/*Foros disponibes*/
.aviable {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.aviable h3 {
  font-size: 4vh;
}

.aviable input {
  align-self: center;
}

.Atwo {
  text-align: center;
}

.Atwo ul li {
  list-style: none;
  padding: 0.5em;
}

.Aone {
  align-self: center;
  padding: 0.5em 0.5em 2em 0.5em;
}

/*botones de creacion*/
.buttoms {
  display: flex;
  flex-direction: column;
}

.buttoms h3 {
  padding: 0.5em;
  font-size: 3vh;
} 

.buttoms button{
  width: 8em;
  height: 2.5em;
  align-self: center;
  margin: 1.5em 0em;
  font-size: 2vh;
}

/*register*/
.register-form {
  display: flex;
  flex-direction: column;
}

.register-form p {
  text-align: center;
  margin: 1em 1em 2em 1em;
  font-size: 3vh;
}

.register-form form {
  display: flex;
  flex-direction: column;
  margin: 0em 1em 0em 1em;
  text-align: center;
  font-size: 3vh;
}

.register-form form button {
  margin: 1em 2em 2em 1em;
  height: 4em;
  width: 10em;
  align-self: center;
  border-radius: 3em;
}

.button-r {
  background-color:#d35400;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}

.button-r span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-r .title:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-r:hover .tittle {
  padding-right: 25px;
}

.register-form a {
  margin: 0em 1em 1em 1em;
  text-align: center;
  font-size: 3vh;
}

.register-form form input {
  height: 3.5vh;
  width: 38vh;
  align-self: center;
  margin-bottom: 1.5em ;
}

button{
  color:#fff;
  text-align: center;
  padding: 20px;
}

/*HomePage*/


/*Show_Post*/
.post{
  display: flex;
  flex-direction: column;
}

.post-info .post-title{
  font-size: 15pt;
  text-align: center;
  margin: 1em;
  color: #C0C9D1;
}

.post-info .likes{
  background-color: #3773A8;
  padding: 3px;
  border-radius: 10px;
  margin-left: 2em;
}

.post-info .likes:hover{
  background-color:#321B46;
}

.comments .comment-title{
  font-size: 10pt;
  margin: 1em;
}

.post hr {
  margin: 0 auto;
  margin-top: 10px;
  width: 85%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.post li{
  color: whitesmoke;
  margin-left: 1.8em;
  font-size: 9px;
}

.post p{
  color: whitesmoke;
  margin-left: 1em;
  font-size: 10px;
}
.comments .comment-title{
  font-size: 14px;
  color: #B9D9F6;
}
.comments .add-comment .comment-text{
  margin-left: 1.5em;
  border-radius: 10px;
}

.comments .add-comment .submit {
  margin-left: 1.5em;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: #321B46;
  margin-bottom: 4em;
}


