/*
General
*/
@import url('https://fonts.googleapis.com/css?family=Arimo|Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo|Fira+Sans|Roboto&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #891100;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-bottom: 50px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header nav ul li:hover {
  color: #ffd700;
}

header {
  display: flex;
  color: antiquewhite;
  background: black;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.logoType {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  height: 70px;
}

nav ul li {
  padding: 0.5vh 5vh;
  list-style: none;
  text-decoration: none;
  font-size: 2vh;
}

nav ul li a {
  text-decoration: none;
  color: #f0f8ff;
}

.footer ul li span a {
  text-decoration: none;
  font-size: 2.3vh;
  color: #f0f8ff;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em 1em 0.5em 1em;
  padding: 0;
}

.footer {
  background: #000000;
  color: #faebd7;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  height: 70px;
  width: 100%;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer ul li {
  justify-content: center;
  margin: 1em 2em 0em 2em;
  list-style: none;
}

.facebook {
  height: 30px;
  width: 30px;
}

.info {
  margin-top: 10px;
}

.instagram {
  height: 30px;
  width: 30px;
}

button {
  background: transparent;
  border: 2px solid #000000;
  border-radius: 6px;
  height: 6vh;
  width: 14vh;
  color: #ffffff;
  border: 2px solid #ffffff;
  margin: 0.5em;
}
button:hover {
  background-color: #000000;
  color: #ffffff;
}

input {
  border: 2px solid #ffffff;
  border-radius: 4px;
  background: transparent;
  color: #f0f8ff;
}

select {
  border-radius: 5px;
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}
option {
  color: #000000;
}

::placeholder{
  color: white;
}

a:hover {
  color: #ffd700;
}

a {
  text-decoration: none;

}

p, label, a, span {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
 font-family: 'Arimo', sans-serif;
}

/*
Login
*/

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.LoginForm form {
  display: flex;
  flex-direction: column;
}
.Login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.LoginForm form input {
  height: 4vh;
  width: 45vh;
  margin: 1.5em;
}

.LoginForm form label {
  align-self: center;
  font-size: 3.5vh;
  margin: 0.5em;
}
.LoginForm form button {
  align-self: center;
}

.nav-li {
  font-size: 2.5vh;
  margin: 0.5em;
  color: #f0f8ff;
  text-decoration: none;
}

.LoginForm .Btn {
  margin: 0em 2em 2em 2em;
}

/*
Informacion
*/

.info {
  box-sizing: border-box;
  color: #ffffff;
  margin: 2em;
  text-align: justify;
}

.info p {
  padding: 1em;
}
/*
Foro
*/
.crearForo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.crearForo form {
  display: flex;
  flex-direction: column;
  margin: 4em;
}

.crearForo form label {
  font-size: 3.5vh;
  align-self: center;
  margin: 0.5em;
}

.crearForo form input {
  height: 4vh;
  width: 45vh;
  margin: 1.5em;
}

.crearForo form button {
  align-self: center;
}

.crearForo h3 {
  font-size: 4vh;
  color: #ffffff;
}

/*
Foro_seleccionado
*/

.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  margin: 4em;
}
.selection h1 {
  font-size: 3.5vh;
  margin: 0.5em;
}
.selection h2 {
  font-size: 3vh;
  margin: 0.5em;
}

.selection h3 {
  font-size: 3vh;
  margin: 0.5em;
}

.selection span {
  font-size: 2vh;
  margin: 0.5em;
}
.selection li {
  margin: 0.25em;
  font-size: 3vh;
  list-style: none;
}
.selection button {
  align-self: center;
}
/*
Información_personal
*/

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  margin: 0.5em;
}

.me h3 {
  font-size: 3vh;
  text-align: center;
  margin: 0.5em;
}
.me span {
  text-align: center;
  font-size: 3vh;
  margin: 2px;
}

/*Foros disponibes*/
.aviable {
  display: flex;
  flex-direction: column;
}
.aviable h3 {
  font-size: 3vh;
}

.Atwo {
  text-align: center;
}

.in {
  display: flex;
  flex-direction: column;
}

.in input {
  align-self: center;
  height: 4vh;
  width: 45vh;
  margin: 0.5em;
}

.in button {
  align-self: center;
}

.Atwo ul li {
  list-style: none;
  padding: 0.1em;
  font-size: 2.5vh;
}

.Aone {
  align-self: center;
  padding: 0.1em;
}

/*botones de creacion*/
.buttoms .refe {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.buttoms a {
  text-align: center;
  padding: 0.5em;
  font-size: 2vh;
  text-decoration: none;
  color: #f0f8ff;
}

/*register*/
.register-form {
  display: flex;
  flex-direction: column;
}

.register-form p {
  text-align: center;
  margin: 1em 1em 2em 1em;
  font-size: 3vh;
}

.register-form form {
  display: flex;
  flex-direction: column;
  margin: 0em 1em 0em 1em;
  text-align: center;
  font-size: 3vh;
}

.register-form form button {
  margin: 1em 1em 2em 1em;
  align-self: center;
}

.register-form a {
  margin: 0em 1em 1em 1em;
  text-align: center;
  font-size: 3vh;
}

.register-form form input {
  height: 3.5vh;
  width: 38vh;
  align-self: center;
  margin-bottom: 1.5em;
}

/*crear post*/

.body {
  display: flex;
  flex-direction: column;
}

.body .frase {
  font-size: 3.5vh;
  color: #f0f8ff;
}

.body .span {
  text-align: center;
  margin: 1.5em;
}

.body form {
  display: flex;
  flex-direction: column;
}

.body form label {
  text-align: center;
  font-size: 3vh;
}

.body form input {
  height: 4vh;
  width: 45vh;
  margin: 1.5em;
  align-self: center;
}

.body form textarea {
  width: 45vh;
  height: 16vh;
  align-self: center;
  margin: 1.5em;
}

.body form button {
  align-self: center;
  margin: 0.5em;
}

/*Crear_mazo*/

.crear_mazo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

.crear_mazo button {
  margin: 1em;
}
.mazo label {
  align-self: center;
  margin: 1em;
}
.mazo input {
  margin: 2em 2em 2em 1em;
  height: 2.5em;
  width: 25%;
}
.mazo select {
  height: 3em;
}

.search label {
  display: inline-block;
  margin: 0.5em;
  font-size: 3vh;
}

.search li {
  margin: 0.5em;
  list-style: none;
}

.crear_mazo h2 {
  font-size: 4vh;
  margin: 0.5em;
}

/*
CardForm
*/

.CardForm {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.CardForm h1 {
  margin: 0.5em;
  font-size: 4vh;
  text-align: center;
}
.CardForm input {
  height: 3.5vh;
  width: 45vh;
  margin: 1em;
  align-self: center;
}

.CardForm form button {
  align-self: center;
  margin: 0.5em;
}

.CardForm label {
  font-size: 2.5vh;
  align-self: center;
  margin: 0em;
}

.CardForm form {
  display: flex;
  flex-direction: column;
}

/*
Show_Post
*/

.show_post div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3vh;
  color: #ffffff;
  text-align: center;
  margin: 1em;
}

.post ul li {
  list-style: none;
}

.comments form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.post h2 {
  font-size: 5vh;
}

.post h1 {
  font-size: 5vh;
}

.comments textarea {
  height: 9vh;
  width: 45vh;
  margin: 1.5em;
  align-self: center;
}

.comments button {
  align-self: center;
  margin: 1em;
}

.comments h2 {
  font-size: 3vh;
}

/*Buscar carta*/

.buscar {
  display: flex;
  flex-direction: column;
  color: #f0f8ff;
}

.fone button {
  align-self: center;
  margin: 1em;
}

.fone {
  display: flex;
  flex-direction: column;
}

.formCarta h2 {
  text-align: center;
  font-size: 3vh;
  margin: 1em;
}

.fone input {
  height: 3.5vh;
  width: 45vh;
  margin: 1em;
  align-self: center;
}

.titulo2 {
  text-align: center;
  font-size: 3vh;
  margin: 1em;
}

.try p {
  text-align: center;
  font-size: 2vh;
  margin: 1em;
}
